.SearchInput {
  min-width: 280px;
  width: 100%;
  max-width: 500px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid #d9d9d9;
  padding: 3px;
}

.SearchInput.focused {
  border-color: #4d4d4d;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
}

.lookupList {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-top: none;
  width: 100%;
}

.lookupListItem {
  height: 40px;
  line-height: 40px;
  padding: 3px;
  color: #000;
  display: flex;
  justify-content: end;
}

.lookupListItemTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.lookupListItem em {
  font-style: normal;
  color: #d9d9d9;
}

.lookupListItem:hover {
  background-color: #87abe4;
  cursor: pointer;
}

.lookupListItem:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.lookupListItemNumber {
  color: #4d4d4d;
  margin-left: 5px;
}